
body{
    background-color: rgb(228, 225, 225);
}
.container{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 650px;
   width: 1400px;
   margin: 20px auto 0px;
   /* position: fixed; */
   padding-right: 40px;
}
.sub_container_1{
    background-color: #0F84EF;
    padding: 0 4px 0 4px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90%;
}
.sub_container_1_1{
    background-color: white;
    border-radius: 0 0 40px 40px;
    padding: 25px;
}

